azure-cognitiveservices-speech
openai
cohere
google.generativeai
regex
requests
RPi.GPIO
sounddevice
soundfile
tiktoken
python-dotenv
googlesearch
newspaper3k
llama-index==0.8.33
langchain==0.0.302
llama-hub==0.0.34
